.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    min-width: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-width: 270px;
  }
  
  .modal-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-button.confirm {
    background-color: #28a745; 
    color: white;
  }
  
  .modal-button.cancel {
    background-color: #dc3545;
    color: white;
  }
  
  .message {
    font-size: 22px;
  }